$Verydarkblue:hsl(212,21%,14%);
$Darkgrayishblue:hsl(228,12%,48%);
$White:hsl(0,0%,100%);
$Darkcyan:hsl(158,36%,37%);
$Cream:hsl(30,38%,92%);

body {
    margin: 0;
}
#container {
    height: 100vh;
    background-color: $Cream;
    padding-top: 20px;
    #product {
        margin-left: 15px;
        margin-right: 15px;
        background-color: $White;
        overflow: hidden;
        border-radius: 10px;
        #goods-mobile-img {
            width: 100%;
        }
        #goods-pc-img{
            display: none;
        }
        #content {
            padding: 25px;
            #perfume {
                letter-spacing: 5px;
                font-size: 12px;
            }
            #details {
                font-size: 14px;
                line-height: 20px;
            }
            #perfume-name {
                margin-top: 10px;
            }
            #price {
                display: flex;
                align-items: center;
                margin-top: -10px;
                > h1 {
                    color: $Darkcyan;
                    margin-right: 20px;
                }
                > del {
                    font-size: 12px;
                }
            }
            #button {
                width: 100%;
                height: 50px;
                background-color: $Darkcyan;
                color: $White;
                font-weight: 700;
                border: none;
                border-radius: 10px;
                font-family: "Montserrat", serif;
                img {
                    margin-right: 7px;
                }
            }
            .gray {
                font-family: "Montserrat", serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                color: $Darkgrayishblue;
            }
            h1 {
                font-family: "Fraunces", serif;
            }
        }
        
    }
}

@media (min-width: 376px){
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 409px;
        padding-right: 409px;
        #goods-mobile-img {
            display: none;
        }
        #goods-pc-img {
            display: block !important;
            width: 100%;
            height: 100%;
        }
        #product {
            display: grid;
            // height: 80vh;
            grid-template-columns: 1fr 1fr;
        }
        #content{
            margin-left: 10px;
            margin-right: 10px;
            #details {
                font-size: 30px;
            }
        }
    }
}